.playground {
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    background-image: url('../../assets/img/background.jpg');
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-stack {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
        width: 120px;
        position: absolute;
    }

}

.top-card {
    cursor: pointer;
    transition: all 200ms ease-in-out;

    &:hover {
        transform: scale(1.1) translateY(-10px);

    }
}

.played-card {
    right: 25px;
    transform: scale(1.1) translateY(-200px) translateX(180px) rotate(20deg);
}

.pick-top-card {
    animation: pick-card-animation 1.25s ease-in-out;
    transform: scale(1.1) translateY(-200px) translateX(180px) rotate(20deg);
}

.btn-add{
    position: absolute;
    right: 32px;
    bottom: 32px;
}

.player-position{
    position: absolute;
    right: 0px;
    z-index:10;

}

@keyframes pick-card-animation {
    0% {
        transform: scale(1);

    }

    30% {
        transform: scale(1.7);
    }

    60% {
        transform: scale(1.7);

    }

    100% {
        transform: scale(1.1 translateY(-200px) translateX(180px) rotate(20deg));

    }
}
@media(max-width:1200px){

}

@media(max-width:800px){
    .playground{
        justify-content: flex-start;
    }

    .card-stack{
        margin-top: 200px;
        width: 120px;
        margin-left: 100px;
    }

    .played-card{
        right: 25px;
        transform: scale(1.1) translateY(-200px) translateX(100px) rotate(20deg);
    }

    @keyframes pick-card-animation {
        0% {
            transform: scale(1);
    
        }
    
        30% {
            transform: scale(1.7);
        }
    
        60% {
            transform: scale(1.7);
    
        }
    
        100% {
            transform: scale(1.1 translateY(-200px) translateX(100px) rotate(20deg));
    
        }
    }

    .pick-top-card {
        animation: pick-card-animation 1.25s ease-in-out;
        transform: scale(1.1) translateY(-200px) translateX(100px) rotate(20deg);
    }


}

@media(max-width:500px){
    .played-card{
        right: 25px;
        transform: scale(1.1) translateY(-300px) translateX(10px) rotate(20deg);
    }

    @keyframes pick-card-animation {
        0% {
            transform: scale(1);
    
        }
    
        30% {
            transform: scale(1.7);
        }
    
        60% {
            transform: scale(1.7);
    
        }
    
        100% {
            transform: scale(1.1 translateY(-300px) translateX(10px) rotate(20deg));
    
        }
    }

    .pick-top-card {
        animation: pick-card-animation 1.25s ease-in-out;
        transform: scale(1.1) translateY(-300px) translateX(10px) rotate(20deg);
    }

    .card-stack{
        margin-left: 80px;
        img{
        width: 90px;
    
        }}


}

